<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleesheets/style.css">
    <title>Cars</title>
</head>
<body>
     <h1>Welcome to the Bahrain Cars Directory</h1>
    <img
      src="/assets/car-inspection.png"
      alt="a phonebook"
      class="phonebook"
    />
    <p>
      A sample directory where users can browse cars in
      Bahrain
    </p>

    <a href="" class="">
      <div class=""> 
      Browse Cars 
      </div>
    </a>
    <footer>Icons by <a href="https://www.flaticon.com/authors/freepik">Freekpik</a> </footer>
</body>
</html>